<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-icon slot="end" [routerLink]="['/slides']" name="information-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>

    <div style="margin: 10% 0 ;" class="ion-justify-content-center ion-aling-content-center">
      <ion-grid class="ion-justify-content-center ion-aling-content-center">
        <ion-row>
          <img src="../../assets/img/arr.jpg" alt="">
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p>
              La realidad aumentada es el término que se usa para describir al conjunto de tecnologías que permiten que
              un usuario visualice parte del mundo real a través de un dispositivo tecnológico con información gráfica
              añadida por este. <br>
              En este apartado puedes escanear las imágenes para visualizar un video o modelados en tres dimensiones por
              medio de la cámara de tu celular

            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button href="https://guaudog.github.io/Marker/" expand="block">
              Marcador
            </ion-button>

            <ion-button href="https://guaudog.github.io/Marker/" expand="block">
              Video
            </ion-button>
          </ion-col>
        </ion-row>


      </ion-grid>
    </div>


  </ion-list>

</ion-content>
