ion-icon {
    color: #ffffff;
    font-size: 30px;
    margin-right: 10px
}
.card {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 3%;
    box-shadow: 0px 0px 6px 0px #a5a5a5;

}
.text1 {
    color: #5a5a5a;
}
.text2 {
    color: #939393;
}
ion-list {
    background: #ebebeb;
    padding: 3%;
}
ion-content {
    --background: #ebebeb;
}

