<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-icon slot="end" [routerLink]="['/slides']" name="information-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="background: #fff;margin: 0;">
    <img style="height: auto;width: 100%; " src="../../assets/img/programacion.png" alt="">
    <div class="text1" style="padding: 0 5%">
      <p>Esta área se encarga de realizar la <b> programación</b> y puesta en marcha de aplicaciones para <b>
          dispositivos
          móviles</b> y <b> páginas web</b>,
        garantizando que se cumplan las especificaciones brindadas por el cliente.</p><br>
    </div>

  </div>
  <ion-list>
<br>
    <div class="card ion-text-center text1">
      <h1><b>Nuestras Herrameintas</b></h1>
    </div>

    <!-- IONIC -->

    <div class="card" style="border-bottom: 30px solid #3880ff; margin-top: 30px;">
      <ion-grid fixed>
        <ion-row class="ion-align-items-center" style="border-bottom: 2px dashed #939393;">
          <ion-col size="3">
            <img style="width: 100%; max-width: 150px;" src="../../assets/img/ionic.png" alt="">
          </ion-col>
          <ion-col size="9">
            <h1 style="color:#3880ff;">IONIC</h1>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <div class="text2">
              <p>Es un entorno de desarrollo que permite crear <b> aplicaciones </b>para los principales dispositivos
                moviles (
                android,IOS ) desde una <b> ùnica base de còdigo</b>
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>


    <!-- PHP -->

    <div class="card" style="border-bottom: 30px solid #4f5b93;">
      <ion-grid fixed>
        <ion-row class="ion-align-items-center" style="border-bottom: 2px dashed #939393;">
          <ion-col size="3">
            <img style="width: 100%; max-width: 150px;" src="../../assets/img/php.png" alt="">
          </ion-col>
          <ion-col size="9">
            <h1 style="color:#4f5b93;">PHP</h1>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <div class="text2">
              <p>Es un <b> lenguaje de programación </b> y una poderosa herramienta para crear <b> páginas web</b>
                dinámicas e
                interactivas, en su mayoría que necesiten almacenar información en una <b> base de datos</b>
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>


    <!-- WORDPRESS -->

    <div class="card" style="border-bottom: 30px solid #007299;">
      <ion-grid fixed>
        <ion-row class="ion-align-items-center" style="border-bottom: 2px dashed #939393;">
          <ion-col size="3">
            <img style="width: 100%; max-width: 150px;" src="../../assets/img/wordpress.png" alt="">
          </ion-col>
          <ion-col size="9">
            <h1 style="color:#007299;">WORDPRESS</h1>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <div class="text2">
              <p>Es un sistema de <b> gestión de contenidos </b>enfocado a la creación de cualquier tipo de <b>página
                  web</b>, por
                ejemplo:
              </p>

              <ul>
                <li> Sitios web comerciales</li>
                <li> Tiendas online</li>
                <li> Blogs </li>
                <li>Portafolios</li>
                <li>Currículos</li>
                <li>Foros</li>
                <li>Redes Sociales</li>
                <li>Sitios de membresía</li>
              </ul>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>


    <!-- VISUAL -->

    <div class="card" style="border-bottom: 30px solid #42acf2;">
      <ion-grid fixed>
        <ion-row class="ion-align-items-center" style="border-bottom: 2px dashed #939393;">
          <ion-col size="3">
            <img style="width: 100%; max-width: 150px;" src="../../assets/img/visual.png" alt="">
          </ion-col>
          <ion-col size="9">
            <h1 style="color:#42acf2;">VISUAL STUDIO CODE</h1>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <div class="text2">
              <p>Es un <b> editor de texto</b> totalmente gratuito que ofrece a los usuarios una<b> herramienta de
                  programación</b>
                avanzada como alternativa al Bloc de Notas
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-list>


</ion-content>