ion-list {
    background: #ebebeb;
    padding: 3%;
}

ion-content {
    --background: #ebebeb;

}

p{
    color: #a5a5a5;
}

.imgCard {
    border-radius: 10px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    &.crop_img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: -50% !important;
        right: -50% !important;
        margin: auto;
    }
}

.card {
    border-bottom: 5px solid #ff8138;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 1%;
    box-shadow: 0px 0px 6px 0px #a5a5a5;
}

.promotional_ads {
    .scroll_container {
        height: 160px;
        margin-bottom: 10px;
        overflow: hidden;
        overflow-x: scroll;
        white-space: nowrap;

        .item_scroll {
            display: inline-block;
            position: relative;
            width: 108px;
            margin: 0 3.5px;
            height: 100%;
            overflow: hidden;
            border-radius: 10px;
            border: 1px solid #c8c8c8;

            .img_box {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

        }

            .item_scroll_web {
                border: 1px solid #c8c8c8;
                display: inline-block;
                position: relative;
                width: 270px;
                margin: 0 3.5px;
                height: 100%;
                overflow: hidden;
                border-radius: 10px;

                .img_box {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }

            }
        
    }
}

ion-icon {
    color: #ffffff;
    font-size: 30px;
    margin-right: 10px;
}
