<ion-content>
  <ion-slides pager="true" [options]="slideOpts" style="width: 100%;">

    <!-- Slide1 -->
    <ion-slide class="Imgslide" style="background-image: url(../../assets/img/eeslide1.png);">
      <ion-grid>
        <ion-row style="height: 50%;">
          <ion-col size="12">

          </ion-col>
        </ion-row>
        <ion-row style="justify-content: center;">
          <ion-col class="ion-text-start" size="10">
            <h3><b>Bienvenido a Tecnologias virtuales</b></h3>
            <p>Es esta aplicación encontraras <b> información </b>acerca de las áreas que conforman las <b> tecnologías virtuales</b>
              del SENA </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!-- Slide2 -->
    <ion-slide class="Imgslide" style="background-image: url(../../assets/img/eeslide2.png);">
      <ion-grid>
        <ion-row style="height: 50%;">
          <ion-col size="12">

          </ion-col>
        </ion-row>
        <ion-row style="justify-content: center;">
          <ion-col class="ion-text-start" size="10">
            <!-- <h3><b> Lorem ipsum dolor sit</b></h3> -->

            <p>También podrás ver algunos de los <b> proyectos de emprendimiento</b> que se han realizado en estas áreas</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!-- Slide3 -->

    <ion-slide class="Imgslide" style="background-image: url(../../assets/img/eeslide4.png);">
      <ion-grid>
        <ion-row style="height: 50%;">
          <ion-col size="12">

          </ion-col>
        </ion-row>
        <ion-row style="justify-content: center;">
          <ion-col class="ion-text-start" size="10">
            <!-- <h3><b> Lorem ipsum dolor sit</b></h3> -->
            <p>En el último apartado podrás ver una muestra de una <b> nueva tecnología </b>que se está empezando a implementar
              en las tecnologías virtuales. </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button color="primary" [routerLink]="['/tabs']" expand="block">
              INGRESO
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>